.error-title {
    font-size: 24px;
    color: #FF5733; /* Color de título personalizado */
  }
  
.error-image {
    width: 200px;
    height: 200px;
    margin: 20px 0;
  }
  
.error-message {
    font-size: 16px;
    color: #070707; /* Color de mensaje personalizado */
  }